.container {
  display: flex;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.container-middle {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-right {
  display: grid;
  grid-template-rows: repeat(4, 100px);
  row-gap: 20px;
}
