* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*this little piece of code is what fixed my problem of having a white space on the right side of the page*/
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*nav bar set up ( started adding a border and deleted it after everything was set and in place, just so I could vizualize the placemnet better)*/

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 115%;
  color: rgb(87, 86, 86);
  width: 100%;
  height: auto;
  padding: 0px 30px;
  padding-top: 20px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-right {
  float: right;
}

.link-nav {
  text-decoration: none;
  color: rgb(91, 90, 90);
  padding-left: 25px;
}

.link-nav:hover {
  color: rgb(76, 136, 142);
}

/*Set up for the header with a picture of me as profile and a short description*/

header {
  margin-top: 17%;
  position: relative;
}

@media screen and (max-width: 800px) {
  header {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 100px;
  }
}
#first-p {
  margin-bottom: 4%;
}

header > h3 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 200%;
  color: rgb(33, 85, 90);
  margin-left: 12%;
}

.p-header {
  color: rgb(87, 86, 86);
  line-height: 140%;
  margin-top: 3%;
  width: 85%;
  margin-left: 12%;
  font-size: 150%;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(/Users/sarahgarson/Documents/DI_Bootcamp/week1/Day4/CV-exercise/cv-picture.jpeg);
  background-size: cover;
  float: left;
  margin-right: 100px;
  margin-left: 80px;
  border: 10px solid rgb(76, 136, 142);
}

@media screen and (max-width: 830px) {
  .circle {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .circle {
    width: 200px;
    height: 200px;
  }
}

#button1 {
  margin-left: 6%;
  background-color: white;
  display: inline-block;
}

#button2 {
  margin-left: 40px;
  background-color: white;
  display: inline-block;
}

.button-header {
  padding: 5px 10px;
  font-size: 110%;
  color: rgb(50, 91, 95);
  text-decoration: none;
  margin-top: 50px;
  border-radius: 20px;
  margin-bottom: 10%;
}

.button-header:hover {
  border-color: rgb(76, 136, 142);
  color: rgb(76, 136, 142);
}

/*Now doing the article no1 part of the cv, where I show my experiences*/
article {
  width: 100%;
  margin-top: 100px;
}

article > h3 {
  color: rgb(33, 85, 90);
  font-size: 150%;
  text-decoration: underline;
  margin-left: 10%;
  margin-bottom: 6%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.up-left,
.up-right {
  width: 50%;
  padding: 20px;
  font-size: 130%;
  color: rgb(87, 86, 86);
}

@media screen and (min-width: 250px) {
  article {
    margin-top: 700px; /* Adjust margin-top for smaller screens */
  }

  .up-left,
  .up-right {
    width: 50%; /* On screens wider than 250px, make each item take 50% width */
  }
}
@media screen and (min-width: 600px) {
  article {
    margin-top: 400px; /* Adjust margin-top for smaller screens */
  }

  .up-left,
  .up-right {
    width: 50%; /* On screens wider than 600px, make each item take 50% width */
  }
}

@media screen and (min-width: 800px) {
  article {
    margin-top: 80px;
  }
}
