* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

/*NAV BAR AREA*/
.navbar-nav {
  width: 80%;
}

.navbar-brand {
  margin-left: 5%;
}

/*HEADER AREA INCLUDING IMG AND TEXT*/
.figure {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container-header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header-hs {
  position: absolute;
  margin-bottom: 13%;
  margin-right: 25%;
}

.text-header {
  color: rgb(115, 113, 113);
  font-size: 250%;
}
.p-header {
  font-size: 120%;
  margin-top: 5%;
}

.h1-header {
  font-size: 350%;
}

/*COLUMNS ABOUT AND SKILLS*/

.container1 {
  margin-top: 30%;
  color: rgb(115, 113, 113);
  margin-bottom: 20%;
}

.column-about {
  width: 100%;
  padding-left: 10%;
}

.p-article {
  line-height: 210%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-box {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-top: 5%;
  margin-right: 1.5rem;
  font-size: 140%;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 500;
  color: #666;
}

/*PROJECTS AREA*/

.h4-projects {
  color: rgb(115, 113, 113);
  font-size: 200%;
}

.p-cards {
  color: rgb(115, 113, 113);
  margin-left: 32%;
  width: 40%;
  margin-top: 5%;
  line-height: 210%;
  font-size: 120%;
}

.container2 {
  margin-bottom: 10%;
  margin: 10% 10%;
}

.card-text {
  color: rgb(115, 113, 113);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transition: 0.3s; /* Smooth transition */
}
.card:hover .card-img-top {
  opacity: 0.7; /* Reduce opacity of image on hover */
}
.card:hover .card-body {
  background-color: #f8f9fa; /* Change background color of card body on hover */
}

.card-link {
  text-decoration: none;
}

#about {
  scroll-margin-top: 170px;
}

#projects {
  scroll-margin-top: 30px;
}

#contact {
  scroll-margin-top: 100px;
}

#projects {
  background-color: rgb(237, 237, 237);
  padding-top: 10%;
  padding-bottom: 10%;
}

/*SIDE BAR WITH GITHUB AND LINKEDIN*/

/* Style for the sidebar */
.sidebar {
  position: fixed;
  top: 40%;
  left: 10px;
  height: 5%;
  width: 50px;
}

.contact-social-link {
  color: rgb(85, 83, 83);
  font-size: 200%;
  margin-top: 10%;
}

/*GITHUB BUTTONS PATHS*/

.github-paths {
  margin-bottom: 15%;
  padding-bottom: 15%;
  text-align: center;
  background-color: rgb(237, 237, 237);
}

.h5-github-paths {
  color: rgb(115, 113, 113);
  margin-bottom: 5%;
}

.button-github {
  margin-left: 10%;
  background-color: rgb(211, 208, 208);
  width: 12%;
  border-radius: 5px;
  color: #8b8787;
}

.btn-group {
  background-color: rgb(159, 156, 156);
  border-radius: 5px;
  width: 14%;
}

button > a {
  text-decoration: none;
  color: whitesmoke;
}

.profile-picture {
  margin-left: 10%;
}

/*CONTACT AREA*/
#contact {
  margin-top: -15%;
}
.h1-contact {
  color: rgb(115, 113, 113);
}

.h1-container {
  margin-bottom: 26%;
}

.icons {
  display: flex; /* Use flexbox */
  gap: 50px; /* Add space between icons */
  margin-bottom: 23%;
  justify-content: center;
}

.icons i {
  font-size: 350%;
  color: white;
}

/*FOOTER AREA*/
footer {
  background-color: #c9c8c8;
  width: 100%;
  padding-bottom: 2%;
}

.footer-grid {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 5%;
}

.container-footer {
  padding-top: 8%;
}

/*Media queries fot the whole page*/

/* Add media queries for responsiveness */

/* For smaller devices (phones) */

@media (min-width: 100px) {
  .navbar-nav {
    font-size: 80%;
  }

  .container-header {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 10%;
  }

  .header-hs {
    font-size: 50%;
  }

  .h1-header {
    font-size: 250%;
    margin: 0px;
  }

  .container1 {
    font-size: 90%;
  }

  .btn-group {
    background-color: rgb(159, 156, 156);
    border-radius: 5px;
    width: 20%;
  }

  button > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 80%;
  }

  .h1-contact {
    font-size: 100%;
  }

  .icons i {
    font-size: 80%;
    color: white;
  }

  .icons {
    display: flex; /* Use flexbox */
    gap: 20px; /* Add space between icons */
    margin-bottom: 28%;
    justify-content: center;
  }

  footer {
    font-size: 60%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 300px) {
  .container-header {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0%;
  }

  .header-hs {
    font-size: 50%;
    margin-top: 100%;
  }

  .h1-header {
    font-size: 250%;
  }

  .container1 {
    font-size: 90%;
  }

  .btn-group {
    background-color: rgb(159, 156, 156);
    border-radius: 5px;
    width: 20%;
  }

  button > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 80%;
  }

  .h1-contact {
    font-size: 100%;
  }

  .icons i {
    font-size: 80%;
    color: white;
  }

  .icons {
    display: flex; /* Use flexbox */
    gap: 20px; /* Add space between icons */
    margin-bottom: 28%;
    justify-content: center;
  }

  footer {
    font-size: 60%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 850px) {
  .container-header {
    position: relative;
    width: 100%;
    height: auto;
  }

  .header-hs {
    font-size: 60%;
    margin-top: 100%;
  }

  .h1-header {
    font-size: 200%;
  }

  .icons i {
    font-size: 100%;
    color: white;
  }

  footer {
    font-size: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 800px) {
  .container-header {
    width: 100%;
    height: auto;
  }

  .header-hs {
    font-size: 100%;
  }

  .h1-header {
    font-size: 250%;
  }

  .h1-contact {
    font-size: 150%;
  }

  .btn-group {
    background-color: rgb(159, 156, 156);
    border-radius: 5px;
    width: 20%;
  }

  button > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 120%;
  }

  .icons i {
    font-size: 180%;
    color: white;
  }

  .icons {
    display: flex; /* Use flexbox */
    gap: 20px; /* Add space between icons */
    margin-bottom: 28%;
    justify-content: center;
  }
}

/* For large devices (desktops) */
@media (min-width: 1000px) {
  .container-header {
    width: 100%;
    height: auto;
  }

  .header-hs {
    font-size: 100%;
    margin-bottom: 10%;
  }

  .h1-header {
    font-size: 350%;
  }

  .h1-contact {
    font-size: 180%;
  }

  .btn-group {
    background-color: rgb(159, 156, 156);
    border-radius: 5px;
    width: 15%;
  }

  button > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 130%;
  }

  .icons i {
    font-size: 230%;
    color: white;
  }

  .icons {
    display: flex; /* Use flexbox */
    gap: 30px; /* Add space between icons */
    margin-bottom: 28%;
    justify-content: center;
  }

  footer {
    font-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1200px) {
  .container-header {
    width: 100%;
    height: auto;
  }

  .header-hs {
    font-size: 100%;
    margin-bottom: 25%;
  }

  .h1-header {
    font-size: 300%;
  }

  .icons i {
    font-size: 250%;
    color: white;
  }

  .icons {
    display: flex; /* Use flexbox */
    gap: 30px; /* Add space between icons */
    margin-bottom: 30%;
    justify-content: center;
  }
}
