body {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.title {
  color: rgb(43, 110, 226);
  margin-bottom: 70px;
  margin-top: 100px;
}

.options,
.feedback,
.score {
  color: white;
  font-size: 30px;
  margin-top: 20px;
}




